@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To The ABC Money Transfer</h1>
    <a href="@Url.Action("Index", "Transaction")" class="btn btn-primary btn-lg mt-4">Go to Transactions</a>
</div>

